@model O_que_comeu_a_Ritinha.Models.Recipes
@using System.Security.Claims

@{
	ViewData["Title"] = "Detalhes Receita";
}

<div id="backcolor">

	<div class="justify-content-center bg-white m-2 rounded">

		<h1 class="text-black m-0 p-4">@Html.DisplayFor(model => model.Title)</h1>

		@if (User.Identity.IsAuthenticated)
		{
			<form method="post" asp-action="AddToFavorites">
				<input type="hidden" name="recipeId" value="@Model.Id" />
				<button type="submit" class="btn btn-link p-0 m-0" style="color: #f0aec0;">
					@if ((bool)ViewBag.IsFavorite)
					{
						<span class="fa-solid fa-star h1"></span>
					}
					else
					{
						<span class="fa-regular fa-star h1"></span>
					}
				</button>
			</form>
		}

		<div class="d-flex justify-content-center">
			@foreach (var tag in Model.ListTags)
			{
				<p class="border border-dark rounded-pill m-1 p-2"><strong>@tag.Tag.Tag</strong></p>
			}
		</div>

		<div class="d-flex justify-content-center m-0">
			<h3 class="m-2"><i class="fa-solid fa-clock"></i> @Model.Time.ToString("hh\\:mm")</h3>
			<h3 class="m-2"><i class="fa-solid fa-person"></i> @Html.DisplayFor(model => model.Portions)</h3>
		</div>

		<div class="d-flex justify-content-center flex-column flex-lg-row m-2">
			<img src="~/images/@Model.Image" alt="Receita @Model.Title" title="@Model.Title" class="img-fluid rounded m-4" />

			@if (@Model.Instagram != null)
			{
				<iframe class="w-20 h-auto m-4" src="@Html.DisplayFor(model => model.Instagram)" frameborder="0"></iframe>
			}
		</div>

		<div class="h3">@Html.Raw(Model.Suggestions)</div>


		<div class="d-flex justify-content-center flex-column flex-lg-row">
			<aside class="m-4">
				<h2 class="p-2">Ingredientes</h2>
				@foreach (var ingredient in Model.ListIngredients)
				{
					<div class="d-flex text-start justify-content-between gap-4 m-1">
						<div>@ingredient.Ingredient.Ingredient</div>
						<div class="text-end">@ingredient.Quantity </div>
					</div>
					<hr />
				}
			</aside>

			<div class="m-4">
				<h2 class="p-2">@Html.DisplayNameFor(model => model.Steps)</h2>
				<div class="text-start">@Html.Raw(Model.Steps)</div>
			</div>
		</div>
	</div>

	@if (User.IsInRole("Admin"))
	{
		<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-light m-2">Editar</a>
	}
	<a asp-action="Index" class="btn btn-info m-2">Voltar à lista!</a>
</div>
