@model IEnumerable<O_que_comeu_a_Ritinha.Models.Recipes>

@{
    ViewData["Title"] = "Receitas";
}

<div id="backcolor" class="p-4">
    @if (User.IsInRole("Admin"))
    {
        <p class="text-center m-4">
            <a asp-action="Create" class="btn btn-light bg-white">Criar nova Receita!</a>
        </p>
    }

    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4 d-flex justify-content-center">
                <a asp-action="Details" asp-route-id="@item.Id" class="text-black text-decoration-none">
                    <div class="text-center bg-white rounded p-3 h-100">
                        <img src="~/images/@item.Image" alt="Receita @item.Title" title="@item.Title" class="rounded img-fluid" />
                        <p class="m-2">@Html.DisplayFor(modelItem => item.Title)</p>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm btn-block m-1">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm btn-block m-1">Apagar</a>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>
